In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import os

In [5]:

tickers = ['AAPL', 'MSFT', '^GSPC']

# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2010-01-01'
end_date = '2019-10-31'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
stock_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [14]:
def download_stockdata(tickers, source, start_date, end_date):
    df_list = []
    for ticker in tickers:
        stock_data = data.DataReader(ticker, source , start_date, end_date)
        stock_data['ticker'] = ticker
        df_list.append(stock_data)
    all_stock_data = pd.concat(df_list)
    
    return all_stock_data

In [15]:
tickers = ['AAPL', 'MSFT', '^GSPC']
start_date = '2019-10-30'
end_date = '2019-10-31'

df_out = download_stockdata(tickers,'yahoo', start_date, end_date)

In [17]:
df_out.head(20)

,High,Low,Open,Close,Volume,Adj Close,ticker
Date,,,,,,,
2019-10-29,249.750000,242.570007,248.970001,243.289993,35660100,243.289993,AAPL
2019-10-30,245.300003,241.210007,244.759995,243.259995,30950600,243.259995,AAPL
2019-10-31,249.169998,237.259995,247.240005,248.759995,3476660000,248.759995,AAPL
2019-10-29,144.500000,142.649994,144.080002,142.830002,20519700,142.830002,MSFT
2019-10-30,145.000000,142.789993,143.520004,144.610001,18471700,144.610001,MSFT
2019-10-31,144.929993,142.990005,144.899994,143.369995,2459620000,143.369995,MSFT
2019-10-29,3047.870117,3034.810059,3035.389893,3036.889893,3589930000,3036.889893,^GSPC
2019-10-30,3050.100098,3025.959961,3039.739990,3046.770020,3776030000,3046.770020,^GSPC
2019-10-31,3046.899902,3023.189941,3046.899902,3037.560059,429496729500,3037.560059,^GSPC

In [18]:
stock_data.head()

Attributes  Adj Close                              Close             \
Symbols          AAPL       MSFT        ^GSPC       AAPL       MSFT
Date
2009-12-31  26.272409  24.072418  1115.099976  30.104286  30.480000
2010-01-04  26.681330  24.443624  1132.989990  30.572857  30.950001
2010-01-05  26.727465  24.451517  1136.520020  30.625713  30.959999
2010-01-06  26.302330  24.301458  1137.140015  30.138571  30.770000
2010-01-07  26.253704  24.048725  1141.689941  30.082857  30.450001

Attributes                    High                                Low  \
Symbols           ^GSPC       AAPL       MSFT        ^GSPC       AAPL
Date
2009-12-31  1115.099976  30.478571  30.990000  1127.640015  30.080000
2010-01-04  1132.989990  30.642857  31.100000  1133.869995  30.340000
2010-01-05  1136.520020  30.798571  31.100000  1136.630005  30.464285
2010-01-06  1137.140015  30.747143  31.080000  1139.189941  30.107143
2010-01-07  1141.689941  30.285715  30.700001  1142.459961  29.864286

Attributes                               Open                          \
Symbols          MSFT        ^GSPC       AAPL       MSFT        ^GSPC
Date
2009-12-31  30.480000  1114.810059  30.447144  30.980000  1126.599976
2010-01-04  30.590000  1116.560059  30.490000  30.620001  1116.560059
2010-01-05  30.639999  1129.660034  30.657143  30.850000  1132.660034
2010-01-06  30.520000  1133.949951  30.625713  30.879999  1135.709961
2010-01-07  30.190001  1131.319946  30.250000  30.629999  1136.270020

Attributes       Volume
Symbols            AAPL        MSFT         ^GSPC
Date
2009-12-31   88102700.0  31929700.0  2.076990e+09
2010-01-04  123432400.0  38409100.0  3.991400e+09
2010-01-05  150476200.0  49749600.0  2.491020e+09
2010-01-06  138040000.0  58182400.0  4.972660e+09
2010-01-07  119282800.0  50559700.0  5.270680e+09